@model WebApplication2_.net_framework_.Models.Tb_Produtor_Produtos

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/ViewSistem/Vendedor/_VendedorLayoutPage1.cshtml";
}

<h2>Create</h2>

@using (Html.BeginForm("Create", "Tb_Produtor_Produtos", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Tb_Produtor_Produtos</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })


        <div class="form-group">
            @Html.LabelFor(model => model.Id_Produtos, "Id_Produtos", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Id_Produtos", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Id_Produtos, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.Preco, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Preco, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Preco, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Quantidade_Disponiveis, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Quantidade_Disponiveis, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Quantidade_Disponiveis, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Id_Unidade, "Id_Unidade", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Id_Unidade", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Id_Unidade, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Descricao, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Descricao, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Descricao, "", new { @class = "text-danger" })
            </div>
        </div>
        <br />
        <div class="form-group">
            @Html.LabelFor(model => model.Estado, htmlAttributes: new { @class = "control-label col-md-2" })
            <br />
            <div class="col">
                <label class="radio-inline">
                    @Html.RadioButtonFor(model => model.Estado, "Disponivel", new { @name = "estado" })
                    Disponivel
                </label>
                <label class="radio-inline">
                    @Html.RadioButtonFor(model => model.Estado, "Indisponivel", new { @name = "estado" })
                    Indisponivel
                </label>
                @*@Html.EditorFor(model => model.Estado, new { htmlAttributes = new { @class = "form-control" } })*@
                @Html.ValidationMessageFor(model => model.Estado, "", new { @class = "text-danger" })
            </div>
        </div>
        <br />
        <div class="form-group ">
            @*@Html.EditorFor(model => model.ProdutoImg, new { htmlAttributes = new { @class = "form-control" } })*@
            @*<img src="@Url.Content(Model.ProdutoImg)" style="margin:10px; height:200px; width:200px; border-radius:50%" id="previewImage" />*@
            <div class="input-group">
                <input type="file" style="color: #ff6a00" name="ImageUpload" onchange="ShowImagePreview(this, document.getElementById('previewImage'))">
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
@*<div class="form-group">
        @Html.LabelFor(model => model.Data_Criacao, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Data_Criacao, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Data_Criacao, "", new { @class = "text-danger" })
        </div>
    </div>*@